@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 100% 98%;
    --foreground: 240 10% 4%;
    --card: 48 100% 98%;
    --card-foreground: 240 10% 4%;
    --popover: 48 100% 98%;
    --popover-foreground: 240 10% 4%;
    --primary: 340 90% 55%;
    --primary-foreground: 340 90% 98%;
    --secondary: 220 15% 90%;
    --secondary-foreground: 240 10% 4%;
    --muted: 220 15% 93%;
    --muted-foreground: 240 10% 45%;
    --accent: 45 100% 50%;
    --accent-foreground: 240 10% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 4%;
    --input: 240 10% 4%;
    --ring: 340 90% 55%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 10%;
    --foreground: 48 100% 98%;
    --card: 240 10% 10%;
    --card-foreground: 48 100% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 48 100% 98%;
    --primary: 340 90% 55%;
    --primary-foreground: 340 90% 98%;
    --secondary: 240 10% 15%;
    --secondary-foreground: 48 100% 98%;
    --muted: 240 10% 20%;
    --muted-foreground: 48 100% 90%;
    --accent: 45 100% 50%;
    --accent-foreground: 240 10% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 100% 98%;
    --input: 48 100% 98%;
    --ring: 340 90% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
